@page
@model MyWheelsSql.Pages.Pecas.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca[0].Aluguel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Peca) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compra.CompraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluguel.AluguelId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProdutoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProdutoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProdutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
