@page
@model MyWheelsSql.Pages.Produtos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Disponivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Disponivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Compra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Compra.CompraId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Aluguel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Aluguel.AluguelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produto.ProdutoId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
