@page
@model MyWheelsSql.Pages.Bicicletas.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Aluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Tamanho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bicicletas[0].Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bicicletas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compra.CompraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluguel.AluguelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProdutoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProdutoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProdutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
